<h1>LongestWord#score</h1>
<p>Find me in app/views/longest_word/score.html.erb</p>

<h2>result</h2>

<h3>Your word:<%= @attempt%></h3>
<h3>Time Taken to answer: <%= @result[:time]%></h3>
<h3>Translation: <%= @result[:translation]%></h3>
<h3>Your score: <%= @result[:score]%></h3>
<h3>Message: <%= @result[:message]%></h3>
